<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div style="text-align: center;">
      <h1>Here all user API Route List</h1>
      <div>
        <p> <small>This is API for</small>   <b> get: </b><a href="http://localhost:5000/user/random"> http://localhost:5000/user/random </a></p>
        <p> <small>This is API for</small>    <b> get: </b><a href="http://localhost:5000/user/all"> http://localhost:5000/user/all </a></p>
        <p> <small>This is API for</small>   <b> post: </b> <u>http://localhost:5000/user/save</u> (type-a-user-json-formate-with-uniq-id ) </p>
        
        <p> <small>This is API for</small>  name info update :  <b> patch: </b><u> http://localhost:5000/user/</u> (type-user-id-number )</p>
        <p> <small>This is API for</small>  bulk-update/update multi info:   <b> patch: </b> <u>http://localhost:5000/user/bulkUpdate/</u> (type-user-id-number )</p>
        <p> <small>This is API for</small>  delete user:  <b> delete: </b><u>http://localhost:5000/user/</u> (type-user-id-number )</p>
        <br>
        <p> <small>Here JSON file Link: </small> <a href="https://raw.githubusercontent.com/kibria-khandaker/Node-Use-API/main/public/userData.json"> My JSON Data File </a> </p>

      </div>
    </div>
  </body>
</html>
