<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div style="text-align: center;">
      <h1>Here all user API Route List</h1>
      <div>
        <p><a href=""> GET /user/random </a></p>
        <p><a href="http://localhost:5000/user/all"> GET /user/all </a></p>
        <p><a href="http://localhost:5000/user/random"> POST /user/save </a></p>
        <p><a href="http://localhost:5000/user/save"> PATCH /user/update </a></p>
        <p><a href="http://localhost:5000/user/update"> PATCH /user/bulk-update </a></p>
        <p><a href="http://localhost:5000/user/bulk-update"> DELETE /user/ delete </a></p>
        <p><a href="http://localhost:5000/user/delete"> DELETE /user/ delete </a></p>
        <p><a href="http://localhost:5000/user/file"> DELETE /user/ delete </a></p>
      </div>
    </div>
  </body>
</html>
